.logo{
  width: 100px; 
  padding: 5px;
  
}
.heading{
  display: flex;
  justify-content: space-between;
  border: 5px solid #f0f0f0;
  border-radius: 10px;
}

.heading:hover{
   border: 5px solid #f0f0f0;
   border-radius: 10px;
}
.nav-items>ul{
 display: flex;
 padding: 10px;
 margin: 10px;
 list-style-type: none;
 font-size: large;
 
}
.nav-items>ul>li{
  padding: 10px;
  margin: 10px;
  
}
.nav-items>ul>li:hover{
  border: 5px solid #f0f0f0;
  border-radius: 10px;
  cursor: pointer;
  background-color: #f0f0f0;
}
.img{
  width: 100%;

}
.btn{
  display: flex;
  justify-content: space-between;
  margin: 10px;
  padding: 10px;
}

.search-btn{
  border: 5px solid #f0f0f0;
  margin: 5px;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
 
}
.filter-btn{
  border: 5px solid #f0f0f0;
  margin: 5px;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
 
}

.cart-btn{
  border: 5px solid #f0f0f0;
  margin: 5px;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
 
}

.cart-btn:hover{
  cursor: pointer;
}
.filter-btn:hover{
  cursor: pointer;
}
.search-btn:hover{
  cursor: pointer;
 
}

.rest-container{
  display: flex;
  flex-wrap: wrap;
}
.rest-card{
  padding: 10px;
  margin: 10px;
  width: 200px;
  border: 4px solid #f0f0f0;
  border-radius: 10px;
}
.rest-card:hover{
  border: 4px solid grey;
  cursor: pointer;
  border-radius: 10px;
}
.rest-card>h4{
  color: grey;
}